/*Unversal*/
html {
    font-family: 'Helvetic';
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

/*Header*/

header {
    border-bottom: 1px solid seashell;
    height: 69px;
    display: inline;
    position: fixed;
    top: 0;
}

.flexbox {
    display: flex;
   

}

.logo {
    height: 50px;
    padding-left: 10px;
    padding: ;
}


li {
    display: inline;

}
/* Mission. Sectionn */

.box{
    height: 700px;
    width: 1200px;
}
#mission {
    background-image:
        url(/tea-shop-website/resources/images/img-mission-background.jpg);
    height: ;
    width: 1200px;
    position: relative;
    text-align: center;
}

.main-text {
    width: 1200px;
    background-color: black;
    position: absolute;
    bottom: 35%;

}

/* Featured Tea Section */

.content {
    text-align: center;
    width: 1000px;
}


.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap
}


img {
    max-width: 200px;
    height: auto;
}

/* Location Section */

.text {
    position: absolute;
    text-align: center;
    background-image:
        url(/tea-shop-website/resources/images/img-locations-background.jpg);
    height: 500px;
    width: 1200px;
    margin-bottom: 15px;
}

.location {
    background-color: black;
    height: 300px;
    width: 300px;
    opacity: 1;
    line-height: 2;

}

ul {
    list-style: none;
}


/* Contact Section*/

.contact {
    width: 1200px;
    height: 200px;
    text-align: center;

}

/* Footer */

footer {
    margin-left: 20px;
}