/*Unversal*/
html {
    font-family: 'Helvetic';
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

/*Header*/

header {
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 1200px;
    display: inline;
    position: fixed;
    z-index: 99;
    background-color: black;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    text-align: center;
   

}

.logo {
    height: 50px;
    padding-left: 10px;
}

.nav {
    color: seashell;
}


li {
   display: inline;
   padding-left: 5px;
   padding-right: 5px;
}

a {
    color: seashell;
}
/* Mission. Sectionn */


#mission {
    background-image:
        url(/tea-shop-website/resources/images/img-mission-background.jpg);
    height: 700px;
    width: 1200px;
    position: relative;
    text-align: center;
}

.main-text {
    width: 1200px;
    background-color: black;
    position: absolute;
    bottom: 35%;

}

/* Featured Tea Section */

#content {
    text-align: center;
    width: 1000px;
}


.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap
}


img {
    max-width: 200px;
    height: auto;
}

/* Location Section */

.text {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image:
        url(/tea-shop-website/resources/images/img-locations-background.jpg);
    height: 500px;
    width: 1200px;
}

#location {
    position: relative;
    text-align: center;
    background-color: black;
    width: 300px;
    opacity: 1;
    line-height: 3;

}



ul {
    list-style: none;
}


/* Contact Section*/

.contact {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    text-align: center;

}

/* Footer */

footer {
    position: absolute;
    top: ;
    height: 69px;
    margin-left: 20px;
    font-size: 16px;
    text-align: left;
}